
max_execution_time  = 240
memory_limit        = 1024M
date.timezone       = {{ timezone }}

upload_max_filesize = 50M
register_globals    = Off

error_log           = /var/log/php/php-{{ item }}.log
