
[mysql]
user=root
password={{ mysql_root_pass }}
[mysqladmin]
user=root
password={{ mysql_root_pass }}
[mysqldump]
user=root
password={{ mysql_root_pass }}
[mytop]
user=root
password={{ mysql_root_pass }}
[client]
user=root
password={{ mysql_root_pass }}
